<header>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'main:index_page' %}">Главная</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Active1</a></li>
      <li><a href="#">Студент</a></li>
      <li><a href="#">Староста</a></li>
      <li><a href="#">Администратор</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'main:login_page' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
    </nav>
</header>