{% extends "main/base.html" %}
{% load static %}

{% block title %} Index Page Title {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <img class="w-100" src="{% static 'main/main_icon2.png' %}">
        </div>
        <div class="col-sm-6">
            <p>
                Система управления расписанием (сокращенно - СУР) «Неофит» является универсальным требованием для учебного расписания. Систему можно использовать для планирования новых занятий, отмены существующих занятий и внесения других изменений в расписание. Это простая и эффективная система. Проект реализован на языке программирования Python
            </p>

        </div>
    </div>



{% endblock %}